:root{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


.book-container{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    gap: 1%;

}

.card{
    width: 400px;
    height: 200px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    padding: 2%;
}

.title{
    text-align: center;
}

.book-title{
    font-size: 2rem;
}

.author{
    font-size: 1.5rem;
}

.pages{
    font-size: 1.25rem;
}

.isRead{
    font-size: 1.25rem;
}

.form{
    display: flex;
    gap: 2%;
}